@import "../variaveis";

.categorias{

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 30px;

  .lista-categorias{

    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1024px;
    gap: 20px 1.7%;
    padding: 20px 0;

    .categoria{

      width: 100%;
      max-width: 150px;
      display: flex;
      height: 150px;
      background-size: cover;
      background-position: center;
      text-align: center;
      box-shadow: 5px 5px 10px rgba( $preto , 0.5);

      .nome-categoria{

        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        background-color:transparent;
        color: transparent;
        font-size: $fs15;
        font-weight: 700;
        transition: .3s;
        padding: 5%;

        &:hover{

          background-color: rgba($preto, 0.7);
          color: $branco;
        }
      }
    }
  }

  .pagination{
                
    display: flex;
    align-self: center;
    font-size: $fs16;

    .current{   

        color: $verde !important;
        background-color: $cinza-mtClaro !important;
        font-weight: bold;
    }

    .page-numbers{

        color: $preto;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $cinza-claro;
        transition: 0.3s;
        &:hover{

            background-color: $cinza-claro;
        }
    }
  }
}

@media  screen and (max-width: 770px) {

  .categorias{

    .lista-categorias{

      justify-content: center;

      .categoria{

        width: 100%;
        max-width: 250px;
        display: flex;
        height: 250px;
        background-size: cover;
        background-position: center;

        .nome-categoria{

          display: flex;
          width: 100%;
          height: 100%;
          align-items: center;
          justify-content: center;
          background-color:transparent;
          color: transparent;
          font-size: $fs20;
          font-weight: 700;
          transition: .3s;

          &:hover{

            background-color: rgba($preto, 0.7);
            color: $branco;
          }
        }
      }
    }
  }
}