@import "../variaveis";

.categoria{

    display: flex;
    flex-direction: column;
    width: 80%;


    .page-name{

        display: flex;
        justify-content: center;
        text-align: center;
        gap: 10px;

        .h4-verde{

            color: $verde;
            font-weight: bold;
        }
    }

    .blocos{

        width: 100%;
        gap: 5%;
        display: flex;
        flex-direction: row;
        padding-top: 50px;
        justify-content: center;


        .filtro-visivel {

            display: flex;
            width: 15%;
            height: fit-content;
            border-radius: 10px;
        }
        
        .filtro-oculto {

            display: none;            
            width: 15%;
            height: fit-content;
            border-radius: 10px;
        }
        

        .bloco-filtro{
            .filtro{

                max-width: 100%;
                gap: 30px;
                display: flex;
                flex-direction: column;
                border-radius: 10px;
                padding: 20px;
                background-color: $cinza-mtClaro;

                .grupo {

                    display: flex;
                    flex-direction: column;
                }

                .botoes{

                    max-width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;

                    .btn-filtro{
  
                        width: 45%;
                        color: $branco;
                        background-color: $verde;
                        border: none;
                        border-radius: 10px;
                        cursor: pointer;
                        transition: 0.3s;

                        &:hover{

                            scale: 1.05;
                        }
                    }

                    .btn-clear{

                        width: 45%;
                        color: $branco;
                        background-color: $verde;
                        border: none;
                        border-radius: 10px;
                        cursor: pointer;
                        transition: 0.3s;

                        &:hover{

                            scale: 1.05;
                        }
                    }
                }
            }
        }
    
    
        .bloco-produtos{
    
            width: 70%;
            max-width: 1100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 30px;

            .lista-produtos{

                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: start;
                gap: 20px 4%;

                li{

                    width: 22%;
                    height: 380px;
                    transition: .3s;

                    .produto {

                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        box-shadow: 0 3px 5px rgba(0, 0, 0, .6);
                        justify-content: center;
                        border-radius: 10px;

                        img{

                            width: 90%;
                        }

                        h3{

                            font-size: 16px;
                            text-align: center;
                            color: $verde;
                            font-weight: 600;
                            width: 90%;
                        }
                    }
                    &:hover{

                        scale: 1.05;
                    }
                }
                
            }         
            
            .paginacao{
                
                display: flex;
                align-self: center;
                font-size: $fs16;

                .current{   

                    color: $verde !important;
                    background-color: $cinza-mtClaro !important;
                    font-weight: bold;
                }

                .page-numbers{

                    color: $preto;
                    width: 30px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid $cinza-claro;
                    transition: 0.3s;
                    &:hover{

                        background-color: $cinza-claro;
                    }
                }
            }
        }
    }

}


@media  screen and (max-width: 770px){

    main{

        .categoria{
    
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 1024px;
            gap: 20px;

            .blocos{

                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .bloco-filtros{

                    width: 100%;
                    max-width:100%;
                    display: flex;
            
                    .filtros{
        
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        border-radius: 20px;
                        padding: 15px;
                        height: auto;
        
                        
                        .filtro{

                            width: 100%;
                 
                            .berocket_single_filter_widget{
            
                                width: 100%;
                                height: 100%;
                            
                               .bapf_sfilter{
                
                                    width: 100%;
                                    height: 100%;
                
                                
                                    .bapf_head{
                                        width: 100%;
                                        background-color: $cinza-mtClaro;
                                        border-top:  20px solid $cinza-mtClaro;
                                        border-left:  20px solid $cinza-mtClaro;
                                        border-right:  20px solid $cinza-mtClaro;
                
                                        h3{
                                            
                                            width: 100%;
                                            height: 10%;
                                            font-size: $fs18;
                                        }
                                    }
                
                                    .bapf_body{
                                        
                                        width: 100%;
                                        background-color: $cinza-mtClaro;
                                        border-bottom:  20px solid $cinza-mtClaro;
                                        border-left:  20px solid $cinza-mtClaro;
                                        border-right:  20px solid $cinza-mtClaro;
    
                                        .select2-selection{
    
                                            align-content: center;
    
                                            ul{
                                        
                                                display: flex;
                                                flex-direction: column;
                                                width: 100%;
                                                height: 90%;
                                                gap: 10px 0;
                                                justify-content: space-around;
                                                font-size: 15px;
            
                                                li{
            
                                                    display: flex;
                                                    gap: 10px;
            
                                                    label{
            
                                                        font-size: $fs12;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            
                .bloco-produtos{
            
                    width: 75%;
                    display: flex;
                    align-self: center;
                
                    .woocommerce-result-count{
    
                        display: none;
                    }
    
                    .woocommerce-ordering{

                        display: none;
                    }
        
                    .products{
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: center;
                        gap: 25px;
    
                        .product{
        
                            display: flex;
                            list-style: none;
                            margin: 0;
                            padding: 0;
                            width: 170px;
                            height: 170px;
                            
                            
            
                            a{
            
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: start;
                                width: 100%;
            
                                &:hover{
            
                                    .light{
            
                                        display: flex;
                                      }
            
                                }
                                
            
                                img{
                                    
                                    width: 85% !important;
                                    height: 85% !important; 
                                    padding: 10px 10px 0 10px;
            
                                   
                                }
            
                                h2{
            
                                    color: $preto;
                                    text-align: center;
                                    align-self: flex-start;
                                    padding-bottom: 5px;
                                    font-size: 11px !important;
                                }
        
                
                            }
        
                            .button{
                                    
                                display: none !important;
                            }
                
                        
        
                        }
                    }
                    
                }
            }
        
        }
      
    }
    
}