@import "../variaveis";

.portfolio{

  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 70px;

  .cabecalho{

    h1{

      font-size: $fs45;
      font-weight: 600;
      color: $azul-escuro;
    }

    span{

      font-size: $fs20;
      font-weight: 500;
      color: $azul-escuro;
    }
  }

  .bloco_projetos{

    display: flex;
    flex-direction: column;
    gap: 120px;

    .tabs_projetos{

      display: flex;
      justify-content: space-between;

      .pesquisa{

        border: 1px solid $azul-escuro;
        background-color: $branco;
        display: flex;
        border-radius: 5px;

        input{

          outline: none;
          border: none;
          font-size: $fs18;
          padding: 5px 16px;
          border-radius: 5px;

        }
        button{

          border: none;
          background-color: $azul-escuro;
          color: $branco;
          width: 40px;


          &:hover{

            background-color: $azul-claro;
          }
        }
      }
    }

    .lista_projetos{

      display: flex;
      flex-wrap: wrap;
      gap: 50px;


      .projeto{

        width: 100%;
        max-width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 10px;
        max-height: 250px;
        box-shadow: 5px 5px 10px 5px $cinza-claro;
        transition: .5s;

        .conteudo{

          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 5px;
          border-radius: 10px 10px 0 0;
          width: 100%;

          img{

            width: 100%;
            border-radius: 10px;
            height: 250px;
          }
        }

        .acoes{

          display: none;
        }

        &:hover{

          .acoes{

            display: flex;
            justify-content: space-evenly;
            padding: 5px 0;
            position: absolute;
            height: 250px;
            width: 500px;
            border-radius: 10px;
            gap: 50px;
            flex-direction: column;
            align-items: center;
            background-color: rgba($preto, 0.8);

            .nomeProjeto{

              font-size: $fs30;
              font-weight: 700;
              color: $branco;

            }

            .blocoTags{

              display: flex;
              flex-direction: column;

              h3{

                color: $branco;
                font-size: $fs14;
                font-weight: 600;

              }

              .tags{

                display: flex;
                flex-wrap: wrap;
                gap: 5px;

                .tag{

                  color: $branco;
                  font-size: $fs14;

                }
              }

            }


            .botoes{

              display: flex;
              justify-content: space-around;
              gap: 10px;

              a{

                background-color: $azul-claro;
                color: $branco;
                font-size: $fs20;
                font-weight: 700;
                transition: .3s;
                padding: 4px 10px;
                border-radius: 5px;
                text-align: center;
                width: 180px;

                &:hover{

                  transform: scale(1.05);
                  background-color: $azul-escuro;
                }
              }
            }
          }
        }
      }
    }


  }

  .paginacao{

    display: flex;
    gap: 10px;
    justify-content: center;

    a{

      color: $azul-escuro;
      font-weight: 700;
      padding: 0 5px;
    }

    .current{

      background-color: $azul-escuro;
      color: $branco;
      font-size: $fs18;
      width: 30px;text-align: center;
      border-radius: 2px;
    }

    .texto{

      color: $azul-escuro;
      font-size: $fs18;
      font-weight: 700;
    }
  }


}