@import "../variaveis";

.produto{

  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  gap: 80px;

  .titulo-destaque{

    width: 60%;
    border: 1px solid $verde;
    color: $verde;
    padding: 10px 20px;
    text-align: center;
    font-weight: 600;
  }

  .exposicao{

    display: flex;
    flex-direction: row;

    .imagens{

      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px 0;
  
      .img-principal{
  
        width: 400px;
        height: 400px;
        box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
      }
  
      .galeria{
  
        display: flex;
        gap: 10px;
  
        .img{
  
          height: 100px;
          width: auto;
          cursor: pointer;
          box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
        }
      }
    }
  
    .textos-principais{
  
      width: 50%;
      height: 520px;
      display: flex;
      flex-direction: column;
      align-self: center;
      gap: 20px;
  
      h1{
  
        font-size: $fs30;
        color: $verde;
        font-weight: 700;
      }
  
      .descricao-curta{
  
        font-size: $fs14;
        font-weight: 500;
        text-align: justify;
      }
  
      .dados{
  
        display: flex;
        align-items: center;
        gap: 5px;
  
        h4{
  
          font-size: $fs14;
          font-weight: bold;
        }
  
        a{
          
          display: flex;
          flex-direction: row;
          
          
          span{
      
              display: flex;
              gap: 3px;
              font-size: $fs15;
              color: $verde;
              font-weight: bold;
              padding-right: 2px;
          }
        }
      }
    }
  }

  .descricao{

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    .conteudo{

      width: 80%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      text-align: justify;

      h3{

        font-size: $fs20;
        font-weight: 700;
        color: $verde;
      }

      span{

        font-size: $fs16;
        text-align: justify;
      }

    }
  }

  .produtos-relacionados{

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 50px;
    padding: 20px 0;

    .produtos{

      display: flex;
      gap: 25px;
      width: 100%;
      height: 200px;
      overflow: hidden;
      align-items: center;
      justify-content: center;
      padding-left: 5px;

      .produto-relacionado{
        
        width: 170px;
        height: 170px;
      

        a{

          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;
          justify-content: space-between;
          transition: .3s;
          border-radius: 5px;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);

          img{

            width: 80%;
            height: 80%;
            align-self: center;
          }
          

          h3{

            font-size: $fs10;
            font-weight: 600;
            color: $verde;
            text-align: center;
            padding: 0 10px 10px 10px;
          }

          &:hover{

            transform: scale(1.05);
          }
        }
      }
    }
  }
}

@media  screen and (max-width: 770px){

  .produto{
 
    padding: 20px;

    .exposicao{

      flex-direction: column;

      .imagens{

        width: 100%;
        padding-bottom: 30px;
        .img-principal{

          width: 400px;
          height: 400px;
        }
      }
      
      .textos-principais{

        width: 100%;
        height: auto;
      }
    }

    .titulo-destaque{
        
      width: 100%;
    }

    .produtos-relacionados{

      .produtos{

        height: auto;
        flex-wrap: wrap;
        overflow: visible;
        justify-content: space-between;
      }
    }
  }
}