@import "../variaveis";

.produto{

  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px 0;

  .titulo-destaque{

    width: 60%;
    border: 1px solid $verde;
    color: $verde;
    padding: 10px 20px;
    text-align: center;
    font-weight: 600;
  }

  .imagens{

    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .img-principal{

      width: 400px;
      height: 400px;
    }

    .galeria{

      display: flex;

      .img{

        height: 100px;
        width: auto;
      }
    }
  }

  .textos-principais{

    width: 50%;
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 20px;

    h1{

      font-size: $fs30;
      color: $verde;
      font-weight: 700;
    }

    .descricao-curta{

      font-size: $fs14;
      font-weight: 500;
      text-align: justify;
    }

    .dados{

      display: flex;
      align-items: center;
      gap: 5px;

      h4{

        font-size: $fs12;
        font-weight: 400;
      }

      span{

        display: flex;
        gap: 3px;

        a{

          font-size: $fs14;
          font-weight: 600;
          color: $verde;
        }
      }
    }
  }

  .descricao{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    .conteudo{

      display: flex;
      flex-direction: column;
      gap: 20px;
      text-align: justify;

      h3{

        font-size: $fs20;
        font-weight: 700;
        color: $verde;
      }

      span{

        font-size: $fs16;
        text-align: justify;
      }

    }
  }

  .produtos-relacionados{

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 50px;
    padding: 20px 0;

    .produtos{

      display: flex;
      gap: 25px;
      width: 100%;

      .produto-relacionado{

        a{

          display: flex;
          flex-direction: column;
          width: 250px;
          height: 350px;
          justify-content: space-between;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
          transition: .3s;
          border-radius: 5px;

          img{

            width: 240px;
            height: 240px;
            align-self: center;
          }

          h3{

            font-size: $fs18;
            font-weight: 600;
            color: $verde;
            text-align: center;
          }

          &:hover{

            transform: scale(1.05);
          }
        }
      }
    }
  }
}