@import "../variaveis";

.sobre-mim{

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  max-width: 1024px;
  gap: 50px;

  .cabecalho{

    h1{

    color: $verde;
    font-weight: bold;
    }

    p{

    font-size: $fs18;
    }
  }
  
  img{

    display: flex;
    justify-content: center;
    border-radius: 20px;
  }


  .textos{

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .conteudo{

      display: flex;
      flex-direction: column;
      width: 300px;
      gap: 10px 0;
      border-radius: 10px;
      box-shadow: -1px 0 7px 1px rgba(0,0,0,.3);
      padding: 10px;

      .alto{

        width: 100%;
        font-weight: bold;
        color: $branco;
        background-color: $verde;
        border-radius: 10px;
        display: flex;
        place-content: center;
        
      }

      .texto{

        width: 100%;
        
      }

      .valores{

        display: flex;
        flex-direction: column;
        width: 100%;
      }

    }
  }




}

@media  screen and (max-width: 770px) {

  .sobre-mim{

    .cabecalho{

      h1{

        font-size: $fs20;
        text-align: center;
      }

      p{

        font-size: $fs18;
        text-align: center;
      }
    }
  
    .textos {
  
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 30px;
    }
  }
}