@import "variaveis"; 


.home{

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 100px;

    .apresentacao{

        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        p{

            width: 640px;
            font-size: $f20;
            font-weight: bold;
            color: $branco;
            display: flex;
            flex-wrap: wrap;
            text-align: center;
        }
        

        .baixo{

            width: 200px;

            p{
                width: 800px;
                font-size: 20px;
                font-weight: bold;
                color: $branco;
                display: flex;
                flex-wrap: wrap;
            }
        }
    }

    .portifolio{

        display: flex;
        flex-direction: column;
        gap: 35px;

        .titulo{

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img{

                width: 500px;
            }
            
            p{
                width: 100%;
                font-size: $f20;
                font-weight: bold;
                color: $branco;
                display: flex;
                flex-wrap: wrap;
                align-content: flex-end;
                text-align: center;
                justify-content: center;
            }
        }

        .modelos{

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            gap: 40px;

            .modelo{

                width: 40%;
                gap: 5px;
                display: flex;
                flex-direction: column;
                align-items: center;
                    
                img{

                    width: 500px;
                    border-radius: 20px;
                    transition: transform 0.2s ease-in-out;
                    &:hover{

                        transform: scale(1.03);
                    }
                }

                p{

                    color: $branco;
                }
      
            }
        }
    }

    .contato{

        display: flex;
        flex-direction: column;
        gap: 35px;

        .titulo{

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img{

                width: 500px;
            }

            p{
                width: 100%;
                font-size: $f20;
                font-weight: bold;
                color: $branco;
                display: flex;
                flex-wrap: wrap;
                align-content: flex-end;
                text-align: center;
                justify-content: center;
            }
        }

        .links{

            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 50px;      
            

            .link{

                width: 100px;
                height: 100px;

                img{

                    width: 100px;
                    height: 100px;
                    border-radius: 100px;
                }
            }
        }

    }

}