@import 'components/header', 'pages/single-page', 'components/footer', 'pages/home',
'pages/sobre-mim', 'pages/contato','pages/resumo', 'pages/index', 'variaveis', 'pages/loja', 'pages/categoria', 'pages/fale-conosco';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swapcss');

*{

  margin: 0 !important;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none !important;
}

main{

  display: flex !important;
  justify-content: space-evenly;
  width: 100%;
  align-self: flex-end;
  height: 100%;
  margin: 0;
  padding: 40px 20px;
  flex-direction: column;
  align-items: center;
  max-width: 1920px;
}

body{

  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: space-between;
  margin:auto 0 !important;
  height: 100%;
  min-height: 960px;
  padding: 0;
}

.container{

  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 50px;
  gap: 20px;
  max-width: 1200px;
  align-items: center;

  @media  screen and (max-width: 1024px) {

    max-width: 800px;
    margin: 0 auto;

  }

  @media  screen and (max-width: 768px) {

    max-width: 650px;
    margin: 0 auto;

  }

  @media  screen and (max-width: 425px) {

    max-width: 300px;
  }


  @media  screen and (max-width: 320px) {

    max-width: 200px;

  }

}

.featuredImage{

  width: 100%;
  height: 465px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;

  .destaque{

    width: 100%;
    align-self: center;
    display: flex;
    background-color: rgba($preto, 0.6);
    height: inherit;
    align-items: center;
    justify-content: center;

    .texto{

      width: 100%;
      max-width: 1200px;
      display: flex;
      justify-content: left;

      @media  screen and (max-width: 1024px) {

        max-width: 800px;

      }

      @media  screen and (max-width: 768px) {

        justify-content: center;

      }

      h1{

        font-family: 'Sen', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: $fs64;
        line-height: 109%;
        color: $branco;

        @media  screen and (max-width: 425px) {

          font-size: $fs35;

        }
      }
    }


  }
}

li{

  list-style: none;
  margin: 0;
  padding: 0;

}

ul{

  margin: 0;
  padding: 0;
}

a{

  text-decoration: none;

  &:hover{

    text-decoration: none;

  }
}

img{

  width:100%;
}

.btn{

  font-size: $fs18;
  width: 100%;
  max-width: 350px;
  text-align: center;
  align-items: center;
  padding: 15px 45px;
  border-radius: 5px;
  font-weight:bold ;
  transition: .3s;

}

