@import url('https://fonts.googleapis.com/css2?family=Lato');

//fontes
$fs64: 64px;
$fs45: 45px;
$fs40: 40px;
$fs35: 35px;
$fs30: 30px;
$fs25: 25px;
$fs24: 24px;
$fs22: 22px;
$fs20: 20px;
$fs18: 18px;
$fs16: 16px;
$fs14: 14px;
$fs12: 12px;
$fs11: 11px;


//cores

$branco: #ffffff;
$preto: #000000;
$cinza: #525252;
$cinza-claro: #CCCCCC;
$cinza-escuro: #333333;
$azul: #05CFFC ;
$azul-escuro: #004080;
$azul-claro: #66B2FF;
$fundo: #F4F4F4;
$principal: #2a2c44;
$verde-agua: #00CC99;
$laranja: #FFA500;
$vermelho: #FF3333;
$roxo: #9900CC;
$amarelo: #FFFF00;
$dourado:#FFC700;

