@import "../variaveis";

/**
header{

  background-color: $azul-escuro;
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: flex-start;
  max-width: 2.5%;
  height: 100%;
  position: absolute;
  padding: 10px;
  z-index: 10;
  transition: .3s;

  .bars-menu{

    width: 35px;
    align-self: flex-start;
  }

  #iconX{

    display: none;
  }

  #cabecalho{

    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;
    padding: 15px 0;
    transition: .4s;


    @media only screen and (max-width: 1024px){

      max-width: 700px;

    }

    @media only screen and (max-width: 800px){

      display: none;

    }

    .menu{

      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 40px;

      .menu-item a{

        text-decoration: none;
        font-weight: 700;
        color: $branco;
        font-size: $fs20;
        transition: .1s;

        &:hover{

          font-size: $fs25;
          font-weight: bold;


        }

      }
    }


  }

}

 */

header{

  background-color: $azul-escuro;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 10px;

  .bloco{

    width: 100%;
    max-width: 80%;
    padding: 10px 0;

    .logo{

      img{

      }

      h1{

        font-size: $fs35;
        color: $branco;
        font-weight: 600;
      }
    }

    .navbar{


      .collapse{

        justify-content: space-between;

        .navbar-nav{

          margin: 0 !important;
          gap: 20px;

          .menu-item{

            a{

              font-size: $fs20;
              color: $branco;
              font-weight: 400;
              transition: .3s;

              &:hover{

                font-size: $fs22;
                border-bottom: 1px solid $branco;
              }
            }
          }
        }
      }
    }
  }
}